/*general styling*/

.active {
    display: none;
}

.nav {
    display: block;
    font-size: 13px;
    color: #646060;
    background-color: #ffffff;
    font-family: 'Open Sans', serif;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right:20px;
    line-height: 180%;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navSub {
    padding-left:20px;
}
  
* {box-sizing: border-box}

body {font-family: Verdana, sans-serif; margin:0}

.mySlides .mySlides1 .mySlides2 .mySlides3 .mySlides4 {display: none}

.container img {
  max-width: 100%;
  max-height: 70vh;
  width: auto;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  vertical-align: middle;
}

.slideshow-container img {
  max-width: 100%;
  max-height: 70vh;
  width: auto;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  vertical-align: middle;
}
  
/* Caption text */
.text {
  font-size: 20px;
  padding: 3px 12px;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.title-centered {
    font-size: 25px;
    padding: 3px 12px;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #b20005;
}

.title-left {
  font-size: 25px;
  padding: 3px 20vw;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: #b20005;
}

#homeTitle {
  position: fixed;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  color: #b20005;
  background-color: #ffffff;
  text-align: left;
  padding-left:20px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right:10px;
  width: 100%;
  z-index: 1;
}

.subtitle-centered {
  font-size: 17px;
  padding: 3px 12px;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.subtitle-left {
  font-size: 25px;
  padding: 3px 20vw;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: #b20005;
}

.bodytext {
    font-size: 15px;
    color: 282828;
    font-weight: 400;
    padding: 3px 20vw;
    line-height: 1.8;
    text-indent: 50px;
    position: relative;
    width: 100%;
    text-align: left;
    font-family: 'Open Sans', serif;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing: antialiased;
}

.bodytext-first-paragraph {
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 3px 20vw;
  line-height: 1.8;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

.bodytext-centre {
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 3px 20vw;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

.bodytext-skinny{
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 3px 30vw;
  line-height: 1.8;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

/* Centered Image Code */

header {
    width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
	margin: auto;
}

div.a {
    text-indent: 50px;
}

#redPls {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #b20005;
}

a:link.default-grey-link, a:visited.default-grey-link {
  color: #646060;
  background-color: transparent;
  text-decoration: none;
}

a:hover.default-grey-link {
  color: #b20005;
  background-color: transparent;
  text-decoration: underline;
}

a:active.default-grey-link {
  color: #f5b673;
  background-color: transparent;
  text-decoration: underline;
}

a:link.default-red-link, a:visited.default-red-link {
  color: #b20005;
  background-color: transparent;
  text-decoration: none;
}

a:hover.default-red-link {
  color: #646060;
  background-color: transparent;
  text-decoration: underline;
}

a:active.default-red-link {
  color: #f5b673;
  background-color: transparent;
  text-decoration: underline;
}

/* Slideshow container */
.slideshow-container {
    height: 100%;
    width: 100%;
}

.container {
  flex: 33.33%;
}

.centeredButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  text-align: center;
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*table styling*/

table {
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 3px 20vw 50px;
  position: relative;
  text-align: left;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
  padding-right: 50px;
}

td {
  padding-right: 15px;
  padding-bottom: 17px;
  vertical-align: top;
}

.audio-video {
    text-align: center;
}
 
/*home page styling*/

#high { 
    width:100%;
    height:100vh;
    top:-100px;
    margin-bottom:-500px;
    left:0;
    position:relative; 
}
  
.stuff {
  margin: 100px auto;
  width: 55vw;
}

#home-body {overflow: hidden}

#home-image {
    width: 55vw;
    height: auto;
    /*position: relative;*/
    margin: auto;
    display: block;
    object-fit: contain;
}
  
.home-nav {
  	display: inline-block;
    font-size: 13px;
    font-family: 'Open Sans', serif;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    color: #646060;
    width: 55vw;
}
  
.home-nav a { margin-left:10px;}

.nav-flex {
  display: flex;
  float: right;
  height: inherit;
  align-items: center;
  padding-top: 15px;
}

.nav-flex a {
  align-items: center;
}
    
.home-navSub {
    padding-left: 20px;
    float: right;
    vertical-align: middle;
}

.homeTitle {
    font-size: 17px;
    font-family: 'Playfair Display', serif;
    color: #b20005;
  	padding-top: 8px;
    padding-bottom: 15px;
    display: inline-block;
}

.home-navSub a:link, a:visited {
    color: #646060;
    background-color: transparent;
    text-decoration: none;
}

.home-navSub a:hover {
    color: #b20005;
    background-color: transparent;
    text-decoration: underline;
}

.home-navSub a:active {
    color: #f5b673;
    background-color: transparent;
    text-decoration: underline;
}

a:link, a:visited {
  color: #646060;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #b20005;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #f5b673;
  background-color: transparent;
  text-decoration: underline;
}

/*about page styling*/
.about-image {
  max-width: 100%;
  max-height: 70vh;
  width: auto;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 10vw;
  margin-left: 5%;
  object-fit: contain;
  float: right;
  /* order: 2; */
  clear: both;
}

.about-image:before {
  content: '' ;
  display:block;
  float: right;
  height: 200px;
}

.flex {
  display: flex;
}

.title-next-to-photo {
  font-size: 25px;
  padding: 3px 10vw;
  margin-left: 35px;
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: #b20005;
}

.table-next-to-photo {
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 3px 10vw;
  margin-left: 35px;
    margin-top: 1em;
  position: relative;
  text-align: left;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
  align-items: left;
}

.table-next-to-photo td {
  padding-right: 15px;
  padding-bottom: 17px;
  vertical-align: top;
}

.flex div.a {
  text-indent: 50px;
}

.bodytext-next-to-photo {
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 3px 10vw;
  margin-left: 35px;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

.about-title {
  font-size: 25px;
  padding: 3px 10vw;
  margin-left: 35px;
  margin-bottom: 0px;
  position: relative;
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: #b20005;
}

.about-table {
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 0px 10vw 0px;
  margin: 35px;
  margin-bottom: 0px;
  position: relative;
  text-align: left;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
  padding-right: 50px;
}

/*writing page styling*/
.citation-table {
  font-size: 15px;
  color: 282828;
  font-weight: 400;
  padding: 3px 20vw 20px;
  line-height: 1.8;
  position: relative;
  width: 100%;
  text-align: left;
  font-family: 'Open Sans', serif;
  -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

.citation-table td{
  padding-right: 15px;
  padding-bottom: 20px;
  vertical-align: center;
}

.citation-table .table-text {
  margin: 0;
}

/*portrait page styling*/
/*repeated class to override specificity rules*/
.portrait-image.portrait-image.portrait-image {
  max-width: 50vh;
  max-height: 100%;
  width: auto;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  display: block;
  margin: auto;
}

/*phone screen styling*/
@media only screen and (max-width: 1200px) {
    .stuff {max-width: 90vw; min-width: 90vw; margin-top: 75px;}
    img :not(.about-image) {max-width: 90vw; min-width: 90vw;}
    .mySlides img {max-height: 30vh; min-height: 30vh;}
    .mySlides1 img {max-height: 30vh; min-height: 30vh;}
    .mySlides2 img {max-height: 30vh; min-height: 30vh;}
    .mySlides3 img {max-height: 30vh; min-height: 30vh;}
    .mySlides4 img {max-height: 30vh; min-height: 30vh;}
    .mySlides5 img {max-height: 30vh; min-height: 30vh;}
    .mySlides6 img {max-height: 30vh; min-height: 30vh;}
    .mySlides7 img {max-height: 30vh; min-height: 30vh;}
    .mySlides8 img {max-height: 30vh; min-height: 30vh;}
    .mySlides9 img {max-height: 30vh; min-height: 30vh;}
    .mySlides10 img {max-height: 30vh; min-height: 30vh;}
    .mySlides11 img {max-height: 30vh; min-height: 30vh;}
    .mySlides12 img {max-height: 30vh; min-height: 30vh;}
    .mySlides13 img {max-height: 30vh; min-height: 30vh;}
    .mySlides14 img {max-height: 30vh; min-height: 30vh;}
    .mySlides15 img {max-height: 30vh; min-height: 30vh;}
    .mySlides16 img {max-height: 30vh; min-height: 30vh;}
    .client-work-image {max-height: 30vh; min-height: 30vh;}
    .portrait-image.portrait-image.portrait-image {max-height: 50vh; min-height: 30vh;}
    .about-image {width: 100%; margin-right: 0px; order: 1;}
    .about-table {margin-right: 0px; margin-left: 0px; padding: 3px 10vw; width: 100%;}
    .title-next-to-photo, .table-next-to-photo, .bodytext-next-to-photo, .about-title {margin-left: 0px;}
    .flex {display: inline-block;}
    .home-nav {font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    display:block;
    max-width: 90vw;
    min-width: 90vw;
    border-bottom: #64606000;}
    .homeTitle {font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:5px;
    display:block;}
    #home-image {max-width: 90vw; min-width: 90vw;}
    .home-navSub {padding-left: 0px; padding-right: 20px; margin-left: 0px; float: left;}
    .home-nav a {margin-left: 0px; margin-right: 5px;}
    .nav-flex {float:left; padding-top: 0px; border-bottom: 1px solid #eee; padding-bottom: 3px; max-width: 90vw; min-width: 90vw;}
    #redPls {padding-bottom: 5px; padding-top: 5px;}
    .prev, .next, .text {font-size: 15px}
    .title, .title-centered, .bodytext, .bodytext-first-paragraph, .table, .citation-table {padding-left: 10vw; padding-right: 10vw;}
    .citation-table {width: 100%}
    .citation-table td {padding-right: 0px;}
}